<div class="banner">
 <%= cl_image_tag @restaurant.photo.key, height: 300, width: 400, crop: :fill %>
</div>

<div class="content">
  <h1><%= @restaurant.full_name %></h1>
  <p><%= @restaurant.speciality %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.email %></p>
  <p><%= @restaurant.address %></p>
</div>